<div ui-view='header'></div>
<div ng-controller="custCtrl" class="container">
  <div class="title">
    <h4>{{userType | uppercase}}</h4>
  </div>
 <div style="text-align: right;">
 	<button class="btn btn-warning" style="width: 10%;" ng-click="ToggleForm()">Create</button>
 </div>
  <form name="complaintForm" ng-submit="complaintForm.$dirty && complaintForm.$valid && createComplaint()" ng-show="showForm" class="compForm">
    <div class="container" >
      <div class="form-group">
        <label for="heading"><b>Header</b></label>
        <input type="text" class="form-control" placeholder="Enter Heading" name="heading" ng-model="heading" required>
      </div>
      <div class="form-group">
        <label for="desc"><b>Desc</b></label>
        <input type="text" class="form-control" placeholder="Enter Desc" ng-model="desc" name="desc" required>
      </div>

      <div style="text-align: center;" class="form-group">
        <button type="submit" class="btn btn-warning">Send</button>
      </div>
    </div>
  </form>
	<span ng-if="errorMsg">{{errorMsg}}</span>
  <table class="table table-striped" ng-if="!errorMsg">
    <thead>
      <tr>
        <th>Status</th>
        <th>Create Date</th>
        <th>Update Date</th>
        <th>Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in tableData" ng-click="openForm(data,'rowClick')" style="cursor: pointer;">
        <td>{{data.status}}</td>
        <td>{{data.create_date | date:'medium'}}</td>
        <td>{{data.update_date | date:'medium'}}</td>
        <td>{{data.heading}}</td>
      </tr>
    </tbody>
  </table>	
</div>
