/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  background-color:#343a40!important;
  color: white;
}
.center_div{
    margin: 0 auto;
    width:60%;
     /* value of your choice which suits your alignment */
}
/* Full-width inputs */
.lr {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Add padding to containers */
.container {
  padding: 16px;
}
.compForm{
  margin:1%;
}

/*input.ng-invalid {
    background-color: white;
}
input.ng-valid {
    background-color: lightgreen;
}*/
.table {
  font-size: 12px;
  margin-top: 1%;
}
.table th {
  background-color: #343a40!important;
  color: white; 
}
.title{
  text-align: center;
}