<div ui-view='header'></div>
<div ng-controller="registerCtrl">
	<form name="userForm" ng-submit="userForm.$valid &&registerCustomer()" novalidate>
		<div class="container">
			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" ng-model="user.email" required>
			
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" ng-model="user.password" name="psw" required>

			<label for="mobile"><b>Mobile</b></label>
			<input type="text" placeholder="Enter Mobile No." ng-model="user.mobile" name="mobile" required ng-pattern="/^(?:[0-9]{1,3}\.){3}/">

			<button type="submit" class="loginbtn">Register</button>
			<label>
				<a ng-href="/public/#!/login">Already register ? Please register.</a>
			</label>
		</div>
	</form>
</div>